site_name: Leetcode Primer
site_url: http://127.0.0.1:8000/
site_author: Theo Despoudis
repo_url: https://github.com/theodesp/leetcode-primer
plugins:
  - search:
      prebuild_index: true
  - tags

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - def_list
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
      - name: python
        class: python
        validator: !!python/name:markdown_exec.validator
        format: !!python/name:markdown_exec.formatter
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
        
  - pymdownx.tabbed:
      alternate_style: true

theme:
  name: material
  palette:
    primary: teal
  favicon: images/icon.ico
  logo: images/logo.png
  font:
    text: Ubuntu
  features:
    - search.highlight
    - navigation.tracking
    - navigation.expand
    - navigation.top
    - navigation.sections
    - navigation.tabs
    - toc.integrate
    - content.code.annotate

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css
  
nav:
  - Home: index.md
  - Algorithmic Techniques: techniques.md
  - Problems 1-20: problems-1to20